<h1>Create a new User</h1>

<%= form_for @user do |f| %>
  <%= f.label :username, "Enter your username" %>
  <%= f.text_field :username %>
  <%= f.label :email, "Enter your email" %>
  <%= f.email_field :email %>
  <%= f.label :password, "Enter your password" %>
  <%= f.password_field :password %>
  <%= f.submit 'Create' %>
<% end %>
<%= @user.errors.full_messages.first if @user.errors.any? %>

<%= link_to "Go to Home", users_path, class: "btn-home" %>

<!--
<h1>Create a New User</h1>


<form method="post" action="/users" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user[username]">Username</label>
  <input name="user[username]" type="text">
  <label for="user[email]">Email</label>
  <input name="user[email]" type="email">
  <label for="user[password]">Password</label>
  <input name="user[password]" type="password">
  <input type="submit" value="Create">
</form>
-->

<!--
<%= form_tag('/users') do%>

  <%= label_tag 'Username' %>
    <%= text_field_tag 'username' %>
  <br /> <br />

  <%= label_tag 'Email' %>
    <%= email_field_tag 'email'%>
  <br /> <br />

  <%= label_tag 'Password' %>
     <%= password_field_tag 'password' %>
  <br /> <br />

  <%= submit_tag "Create" %>

<%end%>
-->